# ####################################################################################### #
# IDE
# ####################################################################################### #

# JetBrains
.idea/*

# Visual Studio Code
.vscode/*

# ####################################################################################### #
# Project
# ####################################################################################### #

# Enviroments
.env